

.link-btn {
  background: none;
  width: auto;
  color: #0b2447;
  text-decoration: underline;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.link-btn:hover {
  color: rgb(4, 4, 177);
}
.hd{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}