.submit-btn {
  margin-top: 0.4rem;
}

.submit-btn:hover {
  background-color: #19376d
}


.Auth {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #0b2447;
  background-color: #fff;
}


.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 3.5rem;
  border: 1px solid #0b2447;
  border-radius: 10px;
  margin: 0.5rem
}

label {
  text-align: left;
  padding: 0.25rem 0;
}


input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  /* box-shadow: inset 0 0 0.1rem #19376d; */
}

button {
  border: 2px solid #00A8D3;
  color: #fff;
  /* background-color: #00A8D3; */
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}


.link-btn {
  background: none;
  color: #0b2447;
  text-decoration: underline;
  margin-top: 0.5rem;
}

.link-btn:hover {
  color: rgb(4, 4, 177);
}