main {
  height: 100%;
  transition: margin-left 0.5s;
  /* margin-left: 50px; */
}

.sidebar {
  background: #0B2447;
  color: #fff;
  height: 100vh;
  width: 200px;
  position: sticky;
  /* set initial widthposition: fixed; */
  transition: width 0.5s;
  /* animate width property */
}

.top_section {
  display: flex;
  align-items: center;
  padding: 0.9rem 0.9rem 0.9rem 0.4rem;
}

.logo {
  font-size: 30px;
  display: block;
  color: #FFFFFF;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  transition: padding-left 0.5s;
  /* animate padding-left property */
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 10px;
  padding: 0.7rem;
  padding-left: 0.3rem;
  transition: margin-left 0.5s;
  /* animate margin-left property */
}

.settings {
  position: absolute;
  bottom: 0px;
  background-color: #0B2447;

}